/conf
/logs
/dist
/db
/.idea
/*.iml
package-lock.json
/certs
/coverage
/node_modules
**/.DS_Store
**/gateway_files
/*temporary
# VSCode
.vscode/
!.vscode/launch.json
.history

**/.claude/settings.local.json
